extends layout

block content
  .row
    .col-sm-3
      h2 About page
      hr
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus rem qui, ab minus nostrum officia nisi aliquid reprehenderit. Soluta accusamus ipsam porro incidunt laboriosam iusto aut, laudantium distinctio error necessitatibus.
    .col-sm-9
      h2 With its custom template
      hr
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere incidunt aliquam, at! Placeat distinctio in quod perferendis quos unde numquam totam vitae nisi quidem vero aliquid nihil magni itaque expedita odit, eaque incidunt fugiat labore est ipsam. Fugit atque hic cumque assumenda quam libero, est totam expedita quo a, nulla sit quibusdam ea. Voluptate eveniet adipisci obcaecati voluptatem, reprehenderit vel.
